 <!DOCTYPE html>
<html>
<head>
	<title>Vue Js Dynamic CSS Styles</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
	

<!-- general way is just add css class proprty here-->	
<div class="demo red"></div>


<!-- Vue Js Style when we click on demo box add or remove color-->
<div class="demo"  @click="attachRed = !attachRed" :class="{red: attachRed,blue:!attachRed}">
</div>


<div class="demo"   @click="attachGreen = !attachGreen" :class="{green: attachGreen}"></div>


<div class="demo"  @click="attachBlue = !attachBlue" :class="{blue:attachBlue}"></div>


<div class="demo"  @click="attachBlack = !attachBlack" :class="vueJsColorClass"></div>

<hr>
<!-- Appply CSS classes using names-->


<!-- the below div adds the box and adds vue js css class property to color vue js instance data -->
<div class="demo" :class="color"></div>

<!-- v-model is two way binding to html and vue js instance. so v-model points the vue js data property color.
so if user types some color name that value binds to vue js data property called color -->
<input type="text" v-model="color">




<!--  array of colors to :class property-->

<!-- Intiallly this array as orange color from css styles and if colorArray property empty then take the green property-->
<div class="demo" :class="[colorArray,{green: attachGreen}]"></div>

<input type="text" v-model="colorArray" >





</div>




<script src="app.js"></script>
</body>
</html>