<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button @click="show = !show">Toggle</button>
    <p v-if="show">You either see me ...</p>
    <p v-else="show">...or me</p>
    <p v-show="show">You either see me ...</p>
    <p v-show="!show">...or me</p>
  </div>
  <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->


  <ul v-for="(hobby,index) in hobbies">
    <li> {{index}} . {{hobby}}
    </li>
  </ul>

  <ul v-for="(name,index) in array">
    <li> {{index}} . {{name}}
    </li>
  </ul>
  <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
  <ul v-for="(value,key,index) in myObject">
    <li> {{ key }} : {{value }} ({{index}})</li>
  </ul>
  <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
  <ul v-for="data in testData">

    <div v-if="data instanceof Array">
        <li v-for= "(dataInArray,index) in data">
          
          {{index}} . {{dataInArray}}
        </li>
    </div>
    <li v-else> 
       {{data}}
    </li>
  </ul>
</div>

<script type="text/javascript" src="app.js"></script>
